aiohttp-cors==0.7.0
aioredis==1.3.1
asyncpg==0.25.0
bcrypt==3.2.0
colorful==0.5.4
cryptography==36.0.1
databases==0.5.5
fastapi==0.73.0
gpustat==1.0.0b1
opencensus==0.8.0
passlib==1.7.4
pip-chill==1.0.1
prometheus-client==0.13.1
psycopg2==2.9.3
py-spy==0.3.11
python-jose==3.3.0
python-multipart==0.0.5
ray==1.10.0
smart-open==5.2.1
uvicorn==0.17.4
werkzeug==2.0.3
